<div class="container p-5" style="padding: 6rem !important;">
  <div class="row p-5">
    <form accept-charset="UTF-8" method="get">
      <input type="text" class="form-control" name="name">
      <button type="submit" hidden="hidden">search</button>
    </form>
  </div>
  <div class="row md:grid md:grid-cols-2 lg:grid-cols-3 gap-8">
    <ul class="list-group">
        <input type="hidden" name="authenticity_token" value="...">
        <li class="list-group-item"><input type="checkbox" id="checkedAll"></li>
        <% @users. each do |user| %>
          <li class="list-group-item" id="item-<%= user.id %>"><input type="checkbox" class="checkItem" value="<%= user.id %>"> - <%= user.username %></li>
        <% end %>
    </ul>
    <button type="button" id="btn-delete" class="btn btn-danger">Delete</button>
    <div class="flex mt-12 items-center justify-center space-x-4 w-full">
      <%== pagy_nav(@pagy) %>
    </div>
    <p class="text-center mt-8 text-gray-500"><%== pagy_info @pagy %></p>

  </div>
</div>
<script type="text/javascript" charset="utf-8">
  $(function () {
      $('#checkedAll').change(function () {
          $(':checkbox.checkItem').prop('checked', this.checked);
      })
      $('#btn-delete').on('click', function () {
          var ids = [];
          var url = location.origin + '/users/delete'
          $('.checkItem:checked').each(function(i){
              ids[i] = $(this).val();
          });
          $.ajax({
              url: url,
              type: "POST",
              dataType: "JSON",
              headers: {
                  'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
              },
              data: {
                  ids: ids
              },
              success: function (e) {
                  console.log(e);
                  for (let i = 0; i <= ids.length; i++) {
                      $("#item-" + ids[i]).remove()
                  }
              },
              error: function (e) {
                  console.log(ids)

              }
          })
      })

  })
</script>