<div class="mt-5">
  <div class="container p-5" style="border: solid 1px black">
    <form action="/post/update/<%= @post.id %>" accept-charset="UTF-8" method="post">
      <input type="hidden" name="authenticity_token" value="...">
      <div class="row mb-5">
        <div class="col-md-9" style="margin-left: -14px">
          <input type="text" id="title" name="title" value="<%= @post.title %>" class="form-control" disabled>
        </div>
        <div class="col-md-3">
          <a class="btn btn-secondary" id="btn-edit">edit</a>
          <button class="btn btn-primary" type="submit" name="commit" style="display: none" id="btn-submit">update</button>
          <a class="btn btn-secondary" style="display: none" id="btn-cancel">cancel</a>
        </div>
      </div>
      <div class="row mb-5">
        <textarea class="form-control" disabled id="form-edit" name="content" placeholder="Content" rows="4"><%= @post.content %></textarea>
      </div>
    </form>
    <ul>
      <li><%= link_to "delete", post_path(@post), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %></li>
    </ul>
    <div class="row">
      <% @post.comments.each_with_index do |comment, index| %>
        <p><span class="text-danger">Tèo <%= index + 1 %></span> - <%= comment.content %></p>
      <% end %>
      <form action="/comments/create" accept-charset="UTF-8" method="post">
        <input type="hidden" name="authenticity_token" value="...">
        <input type="text" name="content" placeholder="Comment..." class="form-control">
        <input type="text" name="post_id" value="<%= @post.id %>" hidden="hidden" class="form-control">
        <button type="submit" name="commit" hidden="hidden"></button>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
    $(function() {
      $("#btn-edit").on('click', function () {
          $('#btn-cancel').show()
          $('#btn-submit').show()
          $('#btn-edit').hide()
          $("#form-edit").prop('disabled', false);
          $('#title').prop("disabled", false)
      })
      $('#btn-cancel').on('click', function () {
          $('#btn-cancel').hide()
          $('#btn-submit').hide()
          $('#btn-edit').show()
          $("#form-edit").prop('disabled', true);
          $('#title').prop("disabled", true)
      })
  })
</script>