<div class="container p-5" style="padding: 6rem !important;">
  <form action="/post/update/<%= @post.id %>" accept-charset="UTF-8" method="post" enctype="multipart/form-data">
    <input type="hidden" name="authenticity_token" value="...">
    <div class="row mb-5">
      <div class="col-md-9" style="margin-left: -14px">
        <input type="text" id="title" name="title" value="<%= @post.title %>" class="form-control" disabled>
      </div>
      <% if @post.user.id == @auth.id %>
      <div class="col-md-3">
        <a class="btn btn-secondary" id="btn-edit">edit</a>
        <button class="btn btn-primary" type="submit" name="commit" style="display: none" id="btn-submit">update</button>
        <a class="btn btn-secondary" style="display: none" id="btn-cancel">cancel</a>
        <%= link_to "delete", post_path(@post), data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        }, class: "btn btn-danger" %>
      </div>
        <% end %>
    </div>
    <div class="row mb-5">
      <textarea class="form-control" disabled id="form-edit" name="content" placeholder="Content" rows="4"><%= @post.content %></textarea>
    </div>
    <div class="row mb-5">
      <div class="col-ld-5">
        <label for="upload-photo" id="label" style="display: none">Choose image...</label>
      </div>
      <div class="col-ld-1">
        <button type="button" id="btn-drop-image" style="display: none" class="text-danger">x</button>
      </div>
      <div class="col-ld-6">
        <div id="img-prev">
          <img src="" id="img-preview" alt="" style="width: 40%">
        </div>
      </div>
    </div>
    <div class="row">
      <%= image_tag @post.image unless @post.image.blank? %>
    </div>
    <div class="row mb-5">
      <input type="file" name="image" id="upload-photo">
    </div>
  </form>
  <div class="row">
    <% @post.comments.each_with_index do |comment, index| %>
      <form action="">
        <p id="cmt-<%= comment.id %>" style="color: dodgerblue"><span class="text-danger"><input type="checkbox" name="id"> - <%= comment.user.username unless comment.user.blank? %> </span> -
          <a data-id="<%= comment.id %>" class="comment"><%= comment.content %></a></p>
      </form>
    <% end %>
    <form action="/comments/create" accept-charset="UTF-8" method="post">
      <input type="hidden" name="authenticity_token" value="...">
      <input type="text" name="content" placeholder="Comment..." class="form-control">
      <input type="text" name="post_id" value="<%= @post.id %>" hidden="hidden" class="form-control">
      <input type="text" name="user_id" value="<%= @user.id %>" hidden="hidden" class="form-control">
      <button type="submit" name="commit" hidden="hidden"></button>
    </form>
  </div>
</div>
<style>
    label {
        cursor: pointer;
        /* Style as you please, it will become the visible UI component. */
    }

    #upload-photo {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }
</style>
<script type="text/javascript" charset="utf-8">
    const input = document.getElementById('upload-photo');
    const image = document.getElementById('img-preview');
    const btn = document.getElementById('btn-drop-image');

    input.addEventListener('change', (e) => {
        if (e.target.files.length) {
            const src = URL.createObjectURL(e.target.files[0]);
            image.src = src;
            btn.style.display = 'block'
        }
    });

    $("#btn-drop-image").on('click', function () {
        image.src = ''
        btn.style.display = 'none'
        $("#upload-photo").val('')
    })

    $(function() {
      $("#btn-edit").on('click', function () {
          $('#btn-cancel').show()
          $('#label').show()
          $('#btn-submit').show()
          $('#btn-edit').hide()
          $("#form-edit").prop('disabled', false);
          $('#title').prop("disabled", false)
      })
      $('#btn-cancel').on('click', function () {
          $('#btn-cancel').hide()
          $('#label').hide()
          $('#btn-submit').hide()
          $('#btn-edit').show()
          $("#form-edit").prop('disabled', true);
          $('#title').prop("disabled", true)
      })
        $('.comment').on('click', function () {
            let id = $(this).attr('data-id')
            let url = location.origin + '/comments/delete/' + id
            console.log(url)
            $.get(url, function(e) {
                $('#cmt-' + id).remove()
                console.log(e)
            })
        })
  })
</script>